<!DOCTYPE html>
<html>
<head>
  <title>Rabblerouser</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<h1>Rabble+Rouser Comment Wall!</h1>
<form>
  Name: <input type="text" id="name">
  <br>
  Email: <input type="text" id="email">
  <br>
  Website: <input type="text" id="website">
  <br>
  Comment: <input type="text" id="comment">
  <br>
  <button class="add-button">Submit Comment</button>
</form>

<div class="flash">Name and Comment Required.</div>

<div class="line"></div><h2>Comments:</h2>

<button class="order-button">Reverse Order</button>

<ul id="comment-list"></ul>

</body>
</html>
